.content{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #2f3944;
  
}
.container{
    max-width: 1366px;
}


.title{
    display: flex;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem;
    font-size: 2rem;

}

.content > a{
    color: #f39200!important;
}

 
.content > a:hover{
    color: #f39200!important;
}

 