@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif!important;
  height: 100%;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover{
  color: rgb(247, 4, 234)!important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


*::selection {
  background-color: #22b1f3;
  color: white;
}



ul{
  text-decoration: none;
  list-style: none;
  display: inline;

}
.bgBlu{
  background: rgb(56,158,213);
  background: linear-gradient(180deg, rgba(56,158,213,1) 0%, rgba(44,166,210,1) 45%, rgba(16,129,185,1) 100%);
}



.bgBluInv{
  background: rgb(56,158,213);
background: linear-gradient(6deg, rgba(56,158,213,1) 0%, rgba(44,166,210,1) 45%, rgba(16,129,185,1) 100%);
}


.bgnav{
  background: rgb(65,77,90);
  background: linear-gradient(180deg, rgba(65,77,90,1) 0%, rgba(47,57,68,1) 100%);
}
 


/* ANIMAIZOME  HOMEPAGE */

